<div class="inputs">
  <div class="containerInputs">
    <div class="inputNome">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Ex. Fulano Barreto"
          [(ngModel)]="dadosDeFiltragem.nome"
        />
      </mat-form-field>
    </div>

    <div class="seletorData">
      <mat-form-field>
        <mat-label>Informe a data de início</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            [(ngModel)]="dadosDeFiltragem.dataInicio"
          />
          <input
            matEndDate
            placeholder="Informe a data de final"
            [(ngModel)]="dadosDeFiltragem.dataFinal"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="seletorStatus">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="dadosDeFiltragem.status">
          @for (status of listaStatus; track status) {
          <mat-option [value]="status.value">{{ status.descricao }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="botao">
      <button mat-flat-button (click)="enviarDados()">Filtrar</button>
    </div>
  </div>
</div>
