<main class="container">
  <div class="containerEsqueda">
    <div class="containerInputs">
      <app-inputs (enviarDadosEmit)="executarFiltragem($event)"></app-inputs>
    </div>
    <div class="containerUsuarios">
      <app-lista-usuarios
        (usuarioSelecionadoParaDetalhes)="receberUsuarioParaDetalhes($event)"
        [listaUsuarios]="listaUsuariosFiltrados"
      ></app-lista-usuarios>
    </div>
  </div>
  <div class="containerDireita">
    <app-detalhes-usuario
      [usuarioParaExibir]="UsuarioParaMostrarDetalhes"
      *ngIf="showDetalhesUsuario"
    ></app-detalhes-usuario>
  </div>
</main>
