<div class="lista-usuarios">
  <table mat-table [dataSource]="listaUsuarios">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="usuarioSelecionado(element)"
        class="listaUsuarioItem"
      >
        {{ element.nome | campoVazio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dataCadastro">
      <th mat-header-cell *matHeaderCellDef>Data de Cadastro</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="usuarioSelecionado(element)"
        class="listaUsuarioItem"
      >
        {{ element.dataCadastro | date : "dd/MM/yyyy" | campoVazio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="usuarioSelecionado(element)"
        class="listaUsuarioItem"
      >
        {{ element.ativo | status | campoVazio }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
